body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgba(48, 39, 39, 0.1) 1px, transparent 1px),
              linear-gradient(to bottom, rgba(45, 48, 40, 0.1) 1px, transparent 1px);
  background-size: 200px 100px; /* Adjust the size of the blocks */
  background-position: 0 0;
  background-color: #0f0d1b;
}

.logo {
  width: 9%;
  padding: 100px 0 0 100px;
}

.title {
  width: 35%;
  padding-left: 10px;
}

.wrapper-1 {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: repeat(5, 200px);
  grid-auto-rows: minmax(100px, auto);
}

.text-0 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.subWrapper-1 {
  grid-area: 2 / 2 / 3 / 3;
  align-items: center;
}

.text-1 {
  text-align: center;
  padding-bottom: 40px;
  background: linear-gradient(to right, #b69fc9, #66179b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400px 10px;
  font-weight: bold;
}

.text-2 {
  text-align: center;
  padding-bottom: 40px;
  font-size: xx-large;
}

.text-3 {
  text-align: center;
  font-size: xx-large;
  background: linear-gradient(to right, #a284bb, #66179b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400px 10px;
  font-weight: bold;
}

.text-4 {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
  padding-top: 50px;
}

.subWrapper-2 {
  grid-area: 4/2/5/3;
}

.emailInput {
  text-align: center;
  margin-bottom: 10px;
  padding: 8px;
}

.emailInput input {
  width: 30%;
  height: 50px;
  border-radius: 10px;
  border: none;
  text-indent: 40px;
  font-size: 20px;
}

.btn {
  text-align: center;
}

.btn button {
  width: 30%;
  height: 45px;
  border-radius: 8px;
  background-color: #66179b;
  border: none;
  font-size: 20px;
}

div {
  color: aliceblue;
}

